<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>首页</title>
    <link rel="stylesheet" href="../public/stylesheets/iconfont.css">
    <link rel="stylesheet" href="../public/stylesheets/index.css">
    <link rel="stylesheet" href="../public/stylesheets/public.css">
    <link rel="stylesheet" href="../public/stylesheets/swiper.css">
</head>
<body>
    <header>
        <div class="header_top">
            <img class="img_01" src="../public/images/logo.png"/>
            <div class="li_list">
                <ul>
                    <li class="on">推荐</li>
                    <li>天盛长歌</li>
                    <li>新说唱</li>
                    <li>热点</li>
                    <li>电视剧</li>
                    <li>电影</li>
                    <li>儿童</li>
                    <li>综艺</li>
                    <li>动漫</li>
                    <li>西安</li>
                    <li>搞笑</li>
                    <li>娱乐</li>
                    <li>体育</li>
                    <li>资讯</li>
                    <li>游戏</li>
                    <li>直播</li>
                    <li>爱奇艺号</li>
                    <li>VIP精选</li>
                </ul>
            </div>
            <i class="iconfont icon-ego-menu"></i>
        </div>
        <div class="header_bot">
            <div class="inp">
                <a href="#">延禧攻略</a>
                <span>|</span>
                <i class="iconfont icon-sousuo"></i>
            </div>
            <img src="../public/images/s01.png" alt="">
            <i class="iconfont icon-jiahao"></i>
        </div>
    </header>

    <section>
        <!--轮播图-->
        <div class="swiper_con swiper-container">
            <div class="swiper-wrapper">
                <img class="swiper-slide" src="../public/images/lunbo01.png" alt="">
                <img class="swiper-slide" src="../public/images/lunbo02.png" alt="">
                <img class="swiper-slide" src="../public/images/lunbo03.png" alt="">
                <img class="swiper-slide" src="../public/images/lunbo04.png" alt="">
                <img class="swiper-slide" src="../public/images/lunbo05.png" alt="">
            </div>
            <!-- Add Pagination -->
            <div class="swiper-pagination"></div>
        </div>
        <!--小导航-->
        <div class="section_01">
            <ul>
                <li>文学</li>
                <li>漫画</li>
                <li>游戏中心</li>
                <li>游戏直播</li>
                <li><img src="../public/images/shangjian.png" alt=""></li>
                <li>奇秀直播</li>
                <li>电影票</li>
                <li>商城</li>
                <li>斗地主</li>
                <li>麻将</li>
                <li>轻小说</li>
            </ul>
        </div>
        <!--你刷剧，我买单！-->
        <div class="section_02">
            <div class="section_02_con">
                <img src="../public/images/xiaojuchang.png" alt="">
                <span></span>
                <p>你刷剧，我买单！小剧场招主播了</p>
                <i class="iconfont icon-arrow-right"></i>
            </div>
            <div class="section_02_ban">
                <div class="section_ban_list">
                    <img src="../public/images/s02.png" alt="">
                    <h4>香蜜▪虐到颤抖</h4>
                    <p>旭凤变成魔尊报复锦觅</p>
                </div>
                <div class="section_ban_list">
                    <img src="../public/images/s03.png" alt="">
                    <h4>中国新说唱▪多才多艺</h4>
                    <p>吴亦凡逛超市上演报菜名</p>
                </div>
                <div class="section_ban_list">
                    <img src="../public/images/s04.png" alt="">
                    <h4>霍比特人▪系列大赏</h4>
                    <p>奇幻史诗舍我其谁</p>
                </div>
                <div class="section_ban_list">
                    <img src="../public/images/s05.png" alt="">
                    <h4>中国好声音▪PK</h4>
                    <p>鹿晗版情非得已vs打包安琪</p>
                </div>
                <div class="section_ban_list">
                    <img src="../public/images/s07.png" alt="">
                    <h4>跨界喜剧王▪土味情话</h4>
                    <p>萌叔张晨光狂对柳岩飚情话</p>
                </div>
                <div class="section_ban_list">
                    <img src="../public/images/s06.png" alt="">
                    <h4>再创世纪▪今晚20点首播</h4>
                    <p>郭晋安林文龙权谋商战</p>
                </div>
            </div>
        </div>
        <!--猜你在追-->
        <div class="section_03">
            <div class="section_03_con">
                <i class="iconfont icon-xindong icon"><h4>猜你在追</h4></i>
                <p>全部追剧<i class="iconfont icon-arrow-right"></i></p>
            </div>
            <div class="watch_list">
                <div class="tv_lis">
                    <img src="../public/images/s08.png" alt="">
                    <h3>延禧攻略</h3>
                    <p>观看至第4集</p>
                </div>
                <div class="tv_lis">
                    <img src="../public/images/s02.png" alt="">
                    <h3>香蜜</h3>
                    <p>观看至第10集</p>
                </div>
                <div class="tv_lis">
                    <img src="../public/images/s08.png" alt="">
                    <h3>延禧攻略</h3>
                    <p>观看至第12集</p>
                </div>
                <div class="tv_lis">
                    <img src="../public/images/s02.png" alt="">
                    <h3>香蜜</h3>
                    <p>观看至第20集</p>
                </div>
            </div>
        </div>
        <!--明星UP榜-->
        <div class="section_03">
            <div class="section_03_con">
                <i class="iconfont icon-jiangbei icon"><h4>明星UP榜</h4></i>
                <p class="pimg">
                    <img src="../public/images/s09.png" alt="">
                    <img src="../public/images/s10.png" alt="">
                    <img src="../public/images/s11.png" alt="">
                    <i class="iconfont icon-arrow-right"></i>
                </p>
            </div>
            <div class="start_list">
                <div class="aa">
                    <a href="#" class="start_img bgDiv01">
                        <img src="../public/images/ss01.png" alt="">
                        <h4>影响力榜</h4>
                        <p>TOP.1蔡徐坤</p>
                    </a>
                </div>
                <div class="aa">
                    <a href="#" class="start_img bgDiv02">
                        <img src="../public/images/ss02.png" alt="">
                        <h4>日韩榜</h4>
                        <p>TOP.1EXO</p>
                    </a>
                </div>
                <div class="aa">
                    <a href="#" class="start_img bgDiv03">
                        <img src="../public/images/ss03.png" alt="">
                        <h4>新晋榜</h4>
                        <p>TOP.1罗云熙</p>
                    </a>
                </div>
                <div class="aa">
                    <a href="#" class="start_img bgDiv04">
                        <img src="../public/images/ss01.png" alt="">
                        <h4>上升榜</h4>
                        <p>TOP.1尹菲</p>
                    </a>
                </div>
            </div>
        </div>
        <!--电视剧-->
        <div class="section_03">
            <div class="section_03_con">
                <i class="iconfont icon-dianshiju icon"><h4>电视剧</h4></i>
                <p class="pimg">爱青春剧场<i class="iconfont icon-arrow-right"></i></p>
            </div>
            <div class="section_bigImg">
                <img src="../public/images/ss04.png" alt="">
                <h4>香蜜沉沉烬如霜</h4>
                <p>杨紫邓伦守望千年之恋</p>
            </div>
            <div class="section_smallImg">
                <a href="#" class="_smallImg">
                    <img src="../public/images/ss05.png" alt="">
                    <h4>延禧攻略</h4>
                </a>
                <a href="#" class="_smallImg">
                    <img src="../public/images/ss06.png" alt="">
                    <h4>我和两个他</h4>
                </a>
                <a href="#" class="_smallImg">
                    <img src="../public/images/ss07.png" alt="">
                    <h4>神剧亮了：跪求</h4>
                </a>
                <a href="#" class="_smallImg">
                    <img src="../public/images/ss15.png" alt="">
                    <h4>天盛长歌</h4>
                </a>
                <a href="#" class="_smallImg">
                    <img src="../public/images/ss16.png" alt="">
                    <h4>月嫂先生</h4>
                </a>
                <a href="#" class="_smallImg">
                    <img src="../public/images/ss17.png" alt="">
                    <h4>龙门飞甲</h4>
                </a>
            </div>
            <div class="section_box">
                <a href="#">更多电视剧</a>
                <a href="#">换一批</a>
            </div>
        </div>
        <!--电影-->
        <div class="section_03">
            <div class="section_03_con">
                <i class="iconfont icon-Group icon"><h4>电影</h4></i>
                <p class="pimg">《狄仁杰3》8.30上线<i class="iconfont icon-arrow-right"></i></p>
            </div>
            <div class="section_bigImg">
                <img src="../public/images/ss08.png" alt="">
                <h4>007：幽灵党</h4>
                <p>传奇英雄背水一战</p>
            </div>
            <div class="section_smallImg">
                <a href="#" class="_smallImg">
                    <img src="../public/images/ss09.png" alt="">
                    <h4>007：幽灵党</h4>
                </a>
                <a href="#" class="_smallImg">
                    <img src="../public/images/ss10.png" alt="">
                    <h4>蚁人</h4>
                </a>
                <a href="#" class="_smallImg">
                    <img src="../public/images/ss11.png" alt="">
                    <h4>蚁人2：黄蜂女现身</h4>
                </a>
                <a href="#" class="_smallImg">
                    <img src="../public/images/ss12.png" alt="">
                    <h4>盗梦空间</h4>
                </a>
                <a href="#" class="_smallImg">
                    <img src="../public/images/ss13.png" alt="">
                    <h4>寻梦环游记</h4>
                </a>
                <a href="#" class="_smallImg">
                    <img src="../public/images/ss14.png" alt="">
                    <h4>当幸福来敲门</h4>
                </a>
            </div>
            <div class="section_box">
                <a href="#">更多精彩影片</a>
                <a href="#">换一批</a>
            </div>
        </div>
        <!--综艺-->
        <div class="section_03">
            <div class="section_03_con">
                <i class="iconfont icon-Group icon"><h4>综艺</h4></i>
                <p class="pimg">新说唱rapper直通车<i class="iconfont icon-arrow-right"></i></p>
            </div>
            <div class="section_bigImg">
                <img src="../public/images/ss18.png" alt="">
                <h4>中国好声音</h4>
                <p>“成语健”为所欲为霆锋蒙圈</p>
            </div>
            <div class="section_02_ban">
                <a href="#" class="section_ban_list">
                    <img src="../public/images/ss19.png" alt="">
                    <h4>中国新说唱▪洗脑集锦</h4>
                    <p>刘柏辛【性感嗓音】纯享打包</p>
                </a>
                <a href="#" class="section_ban_list">
                    <img src="../public/images/ss20.png" alt="">
                    <h4>梁知▪人情观察室</h4>
                    <p>潘金莲结局惨烈因欲望过剩？</p>
                </a>
                <a href="#" class="section_ban_list">
                    <img src="../public/images/ss21.png" alt="">
                    <h4>跨界喜剧王第3季</h4>
                    <p>文松张晨光组队真人吃鸡</p>
                </a>
                <a href="#" class="section_ban_list">
                    <img src="../public/images/ss22.png" alt="">
                    <h4>中国音乐公告牌▪抢先</h4>
                    <p>来自双面周洁琼的可爱暴击</p>
                </a>
            </div>
            <div class="section_box">
                <a href="#">更多综艺</a>
                <a href="#">换一批</a>
            </div>
        </div>
        <!--即将上线-->
        <div class="section_03">
            <div class="section_03_con">
                <i class="iconfont icon-Group icon"><h4>即将上线</h4></i>
                <p class="pimg">我的预约<i class="iconfont icon-arrow-right"></i></p>
            </div>
            <div class="section_smal">
                <div class="aa">
                    <div class="spans">
                        <a class="a1">09月03日<p></p></a>
                        <a class="a2"><i></i><span></span><i></i></a>
                    </div>
                    <a href="#" class="section_sImg">
                        <img src="../public/images/a01.png" alt="">
                        <h4>等到烟暖雨收</h4>
                        <span><img src="../public/images/clock.png" alt="">预约</span>
                    </a>
                </div>
                <div class="aa">
                    <div class="spans">
                        <a class="a1">09月05日<p></p></a>
                        <a class="a2"><i></i><span></span><i></i></a>
                    </div>
                    <a href="#" class="section_sImg">
                        <img src="../public/images/a02.png" alt="">
                        <h4>娘道</h4>
                        <span><img src="../public/images/clock.png" alt="">预约</span>
                    </a>
                </div>
                <div class="aa">
                    <div class="spans">
                        <a class="a1">09月07日<p></p></a>
                        <a class="a2"><i></i><span></span><i></i></a>
                    </div>
                    <a href="#" class="section_sImg">
                        <img src="../public/images/a03.png" alt="">
                        <h4>中国音乐公...</h4>
                        <span><img src="../public/images/clock.png" alt="">预约</span>
                    </a>
                </div>
                <div class="aa">
                    <div class="spans">
                        <a class="a1">敬请期待<p></p></a>
                        <a class="a2"><i></i><span></span><i></i></a>
                    </div>
                    <a href="#" class="section_sImg">
                        <img src="../public/images/a04.png" alt="">
                        <h4>爸爸去哪儿6</h4>
                        <span><img src="../public/images/clock.png" alt="">预约</span>
                    </a>
                </div>
                <div class="aa">
                    <div class="spans">
                        <a class="a1">敬请期待<p></p></a>
                        <a class="a2"><i></i><span></span><i></i></a>
                    </div>
                    <a href="#" class="section_sImg">
                        <img src="../public/images/a05.png" alt="">
                        <h4>奇葩说第5季</h4>
                        <span><img src="../public/images/clock.png" alt="">预约</span>
                    </a>
                </div>
                <div class="aa">
                    <div class="spans">
                        <a class="a1">敬请期待<p></p></a>
                        <a class="a2"><i></i><span></span><i></i></a>
                    </div>
                    <a href="#" class="section_sImg">
                        <img src="../public/images/a06.png" alt="">
                        <h4>凉生，我们...</h4>
                        <span><img src="../public/images/clock.png" alt="">预约</span>
                    </a>
                </div>
            </div>
            <div class="section_smbox">
                <a href="#">查看更多</a>
            </div>
        </div>
        <!--今日资讯-->
        <div class="section_03">
            <div class="section_03_con">
                <i class="iconfont icon-Group icon"><h4>今日资讯</h4></i>
                <p class="pimg">中国梦网络视听节目展播<i class="iconfont icon-arrow-right"></i></p>
            </div>
            <div class="a3">
                <a href="#">
                    <span><img src="../public/images/sanjiao.png" alt="">新个税法2019年1月1日实行</span>
                    <span><img src="../public/images/sanjiao.png" alt="">手慢无！国庆火车票9月2日开抢</span>
                </a>
                <a href="#"><img src="../public/images/bendizixun.png" alt=""></a>
            </div>
            <div class="section_02_ban">
                <a href="#" class="section_ban_list">
                    <img src="../public/images/a07.png" alt="">
                    <h4>新郎抱新娘脚底打滑跪地</h4>
                    <p>顺势跪地前行得岳父好感</p>
                </a>
                <a href="#" class="section_ban_list">
                    <img src="../public/images/a08.png" alt="">
                    <h4>幼童抓眼镜蛇家长拍视频</h4>
                    <p>今日01:38发布</p>
                </a>
            </div>
            <div class="section_zx">
                <a href="#">更多资讯</a>
                <a href="#">西安热点</a>
                <a href="#">换一批</a>
            </div>
        </div>
        <!--爱奇艺底线-->
        <div class="section_04">
            <img src="../public/images/logob.png" alt="">
        </div>
    </section>

    <footer>
        <a href="index.html" class="alis focus"><i class="iconfont icon-yduixingxingkongxin"></i><p>首页</p><span></span></a>
        <a href="redian.html" class="alis"><i class="iconfont icon-redian"></i><p>热点</p><span></span></a>
        <a href="vip.html" class="alis"><i class="iconfont icon-viphuiyuanhuangguan_fuzhi"></i><p>会员</p><span></span></a>
        <a href="my.html" class="alis"><i class="iconfont icon-mine"></i><p>我的</p><span></span></a>
        <a href="paopao-kandian.html" class="alis"><i class="iconfont icon-xiaoxi"></i><p>泡泡</p><span></span></a>
    </footer>
</body>
</html>
<script src="../public/javascripts/jquery-1.11.0.min.js"></script>
<script src="../public/javascripts/swiper.min.js"></script>
<script>
// 顶部
$(function(){
    $(".li_list li").click(function(){
        $(this).addClass("on").siblings().removeClass("on");
    })
});

// 轮播图
var swiper = new Swiper('.swiper-container', {
    spaceBetween: 30,
    centeredSlides: true,
    autoplay: {
        delay: 2500,
        disableOnInteraction: false,
    },
    pagination: {
        el: '.swiper-pagination',
        clickable: true,
    }
});


// 底部
$(function(){
    $(".alis").click(function(){
        $(this).addClass("focus").siblings().removeClass("focus");
    });
});
</script>
