<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>热点</title>
    <link rel="stylesheet" href="../public/stylesheets/iconfont.css">
    <link rel="stylesheet" href="../public/stylesheets/my.css">
    <link rel="stylesheet" href="../public/stylesheets/public.css">
</head>
<body>
<!--顶部-->
<header>
    <a href="#">我的</a>
    <a href="#">
        <img src="../public/images/msg.png" alt="">
        <img src="../public/images/m0.png" alt="">
    </a>
</header>

<!--section-->
<section>
    <div class="section_top">
        <a href="#">
            <img src="../public/images/m01.png" alt="">
            <span>登录</span>
            <span>|</span>
            <span>注册</span>
        </a>
        <a href="#">签到领VIP</a>
    </div>

    <!--会员服务-->
    <div class="section_cont">
        <h4>会员服务</h4>
        <div class="v_hel">
            <div class="v_hel_con">
                <a href="#">
                    <img src="../public/images/m02.png" alt="">
                    <p>开通VIP会员<span>看精彩热剧大片</span></p>
                </a>
                <a href="#">
                    <img src="../public/images/m03.png" alt="">
                    <p>开通FUN会员<span>畅看动画漫画</span></p>
                </a>
                <a href="#">
                    <img src="../public/images/m04.png" alt="">
                    <p>开通体育会员<span>看精彩比赛直播</span></p>
                </a>
            </div>
        </div>
    </div>

    <!--泡泡圈-->
    <div class="section_cont">
        <h4>泡泡圈</h4>
        <div class="v_hel">
            <div class="v_hel_con hel_01">
                <a href="#">
                    <img src="../public/images/m05.png" alt="">
                    <p>王以太<span>21:30来翻牌</span></p>
                </a>
                <a href="#">
                    <img src="../public/images/m09 (2).png" alt="">
                    <p>爱奇艺片段<span>26.4万人关注</span></p>
                </a>
                <a href="#">
                    <img src="../public/images/m06.png" alt="">
                    <p>鹿晗<span>1856.4万人关注</span></p>
                </a>
                <a href="#">
                    <img src="../public/images/m07.png" alt="">
                    <p>赵丽颖<span>1531.9万人关注</span></p>
                </a>
                <a href="#">
                    <img src="../public/images/m08.png" alt="">
                    <p>宋仲基<span>301.9万人关注</span></p>
                </a>
                <a href="#">
                    <p>更多圈子</p>
                </a>
            </div>
        </div>
    </div>

    <div class="section_cen">
        <a href="#">
            <img src="../public/images/m09.png" alt="">
            <p>我的收藏</p>
        </a>
        <a href="#">
            <img src="../public/images/m10.png" alt="">
            <p>观看历史</p>
        </a>
        <a href="#">
            <img src="../public/images/m11.png" alt="">
            <p>离线中心</p>
        </a>
        <a href="#">
            <img src="../public/images/m12.png" alt="">
            <p>我的钱包</p>
        </a>
        <a href="#">
            <img src="../public/images/m13.png" alt="">
            <p>我的订单</p>
        </a>
        <a href="#">
            <img src="../public/images/m14.png" alt="">
            <p>我的游戏</p>
        </a>
        <a href="#">
            <img src="../public/images/m15.png" alt="">
            <p>我的积分</p>
        </a>
        <a href="#">
            <img src="../public/images/m16.png" alt="">
            <p>设置</p>
        </a>
        <a href="#">
            <img src="../public/images/m17.png" alt="">
            <p>帮助反馈</p>
        </a>
        <a href="#">
            <img src="../public/images/m18.png" alt="">
            <p>我的上传</p>
        </a>
        <a href="#">
            <img src="../public/images/m19.png" alt="">
            <p>我的片段</p>
        </a>
        <a href="#">
            <img src="../public/images/m20.png" alt="">
            <p>主题皮肤</p>
        </a>
        <a href="#">
            <img src="../public/images/m21.png" alt="">
            <p>福利礼包</p>
        </a>
        <a href="#">
            <img src="../public/images/m22.png" alt="">
            <p>免流量看视频</p>
        </a>
        <a href="#">
            <img src="../public/images/m23.png" alt="">
            <p>借钱</p>
        </a>
    </div>

    <!--关于我们-->
    <div class="aboutUs">关于我们</div>

    <div class="sect_bot">爱奇艺iPhone版v9.7.6</div>
</section>


<!--底部-->
<footer>
    <a href="index.html" class="alis"><i class="iconfont icon-yduixingxingkongxin"></i><p>首页</p><span></span></a>
    <a href="redian.html" class="alis"><i class="iconfont icon-redian"></i><p>热点</p><span></span></a>
    <a href="vip.html" class="alis"><i class="iconfont icon-viphuiyuanhuangguan_fuzhi"></i><p>会员</p><span></span></a>
    <a href="my.html" class="alis focus"><i class="iconfont icon-mine"></i><p>我的</p><span></span></a>
    <a href="paopao-kandian.html" class="alis"><i class="iconfont icon-xiaoxi"></i><p>泡泡</p><span></span></a>
</footer>
</body>
</html>
<script src="../public/javascripts/jquery-1.11.0.min.js"></script>
<script src="../public/javascripts/swiper.min.js"></script>
<script>

</script>