<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>泡泡-看点</title>
    <link rel="stylesheet" href="../public/stylesheets/iconfont.css">
    <link rel="stylesheet" href="../public/stylesheets/paopao-kandian.css">
    <link rel="stylesheet" href="../public/stylesheets/public(1).css">
</head>
<body>
<!--顶部-->
<header>
    <div class="head_top">
        <a href="index.html"><img src="../public/images/p02.png" alt="">爱奇艺首页</a>
        <p>看点</p>
        <a href="#"><img src="../public/images/p01.png" alt=""></a>
    </div>
    <div class="head_bot">
        <a href="#"><p>鹿晗</p><input type="button"><img src="../public/images/p03.png" alt=""></a>
    </div>
</header>

<!-- section -->
<section>
    <div class="s_content">
        <div class="sect_top">
            <img src="../public/images/p04.png" alt="">
            <a href="#"><p>终极云客</p><span>06-10<i>976人阅读</i></span></a>     
        </div>
        <div class="pimgs">
            <h4>当红女星们尝试“凤九妆”，丽颖呆萌，李沁温婉，最美还是热巴</h4>
            <p>当红女星们尝试“凤九妆”，丽颖呆萌，李沁温婉，最美还是热巴</p>
            <a href="#">
                <img src="../public/images/p10.png" alt="">
                <img src="../public/images/p11.png" alt="">
                <img src="../public/images/p12.png" alt="">
                <img src="../public/images/p10.png" alt="">
                <img src="../public/images/p11.png" alt="">
                <img src="../public/images/p12.png" alt="">
            </a>
        </div>
        <a href="#" class="sect_cont"><p>来自泡泡圈：<span>李沁</span></p><img src="../public/images/p09.png" alt=""></a>
        <div class="sect_pic">
            <a href="#"><img src="../public/images/p06.png" alt="">分享</a>
            <a href="#"><img src="../public/images/p07.png" alt="">评论</a>
            <a href="#"><img src="../public/images/p08.png" alt="">29</a>
        </div>
    </div>
    <div class="s_content">
        <div class="sect_top">
            <img src="../public/images/p05.png" alt="">
            <a href="#"><p>xuyingxxq</p><span>06-03<i>1万人阅读</i></span></a>     
        </div>
        <div class="pimgs">
            <h4>眉心痣美人沈傲君，成名后被爆耍大牌，嫁给乾隆后如今长成这样</h4>
            <p>现在很多人都会去做一件事情，那就是点痣，很多人</p>
            <a href="#">
                <img src="../public/images/p13.png" alt="">
                <img src="../public/images/p14.png" alt="">
            </a>
        </div>
        <a href="#" class="sect_cont"><p>来自泡泡圈：<span>沈傲君</span></p><img src="../public/images/p09.png" alt=""></a>
        <div class="sect_pic">
            <a href="#"><img src="../public/images/p06.png" alt="">分享</a>
            <a href="#"><img src="../public/images/p07.png" alt="">1</a>
            <a href="#"><img src="../public/images/p08.png" alt="">87</a>
        </div>
    </div>
    <div class="s_content">
        <div class="sect_top">
            <img src="../public/images/p04.png" alt="">
            <a href="#"><p>我是云熙</p><span>06-11<i>1690人阅读</i></span></a>     
        </div>
        <div class="pimgs">
            <h4>秦岚紫色长裙出席活动，网友：紫色凝重，温婉大方</h4>
            <p>娱乐//娱妹时间</p>
            <a href="#">
                <img src="../public/images/p15.png" alt="">
                <img src="../public/images/p16.png" alt="">
                <img src="../public/images/p17.png" alt="">
                <img src="../public/images/p16.png" alt="">
                <img src="../public/images/p17.png" alt="">
            </a>
        </div>
        <a href="#" class="sect_cont"><p>来自泡泡圈：<span>秦岚</span></p><img src="../public/images/p09.png" alt=""></a>
        <div class="sect_pic">
            <a href="#"><img src="../public/images/p06.png" alt="">分享</a>
            <a href="#"><img src="../public/images/p07.png" alt="">1287</a>
            <a href="#"><img src="../public/images/p08.png" alt="">78</a>
        </div>
    </div>
</section>

<!-- 底部 -->
<footer>
    <a href="paopao-kandian.html" class="alis focus"><i class="iconfont icon-shuaxin"></i><p>看点</p><span></span></a>
    <a href="paopao-jinquan.html" class="alis"><i class="iconfont icon-yonghuzu"></i><p>进圈</p><span></span></a>
    <a href="#" class="alis"><i class="iconfont icon-jiahao"></i><p class="ptxt">发布</p><span></span></a>
    <a href="paopao-faxian.html" class="alis"><i class="iconfont icon-ziyuan"></i><p>发现</p><span></span></a>
    <a href="paopao-xiaoxi.html" class="alis"><i class="iconfont icon-xiaoxi1"></i><p>消息</p><span></span></a>
</footer>
</body>
</html>
<script src="../public/javascripts/jquery-1.11.0.min.js"></script>
<script>
// 底部
$(function(){
    $(".alis").click(function(){
        $(this).addClass("focus").siblings().removeClass("focus");
    });
});

</script>