<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>泡泡-进圈</title>
    <link rel="stylesheet" href="../public/stylesheets/iconfont.css">
    <link rel="stylesheet" href="../public/stylesheets/paopao-jinquan.css">
    <link rel="stylesheet" href="../public/stylesheets/public(1).css">
</head>
<body>
<!--顶部-->
<header>
    <div class="head_top">
        <a href="index.html"><img src="../public/images/p02.png" alt="">爱奇艺首页</a>
        <p>进圈</p>
        <a href="#"><img src="../public/images/p01.png" alt=""></a>
    </div>
    <div class="head_bot">
        <a href="#"><p>陈立农</p><input type="button"><img src="../public/images/p03.png" alt=""></a>
    </div>
</header>


<!-- section -->
<section>
    <div class="section_top">
        <a href="#"><img src="../public/images/j01.png" alt="">我加入的圈子</a>
        <a><p>登录后，加入的圈子显示在这里</p><input type="button" value="立即登录"></a>
    </div>
    <div class="section_mid">
        <div class="mid_tit">
            <a href="#"><img src="../public/images/j02.png" alt="">圈子广场</a>
            <a href="#">全部圈子<i class="iconfont icon-arrow-right"></i></a>
        </div> 
        <div class="mid_con">
            <div class="cc">
                <a href="#">
                    <img src="../public/images/j03.png" alt="">
                    <h4>
                        <img src="../public/images/j05.png" alt="">
                        <p>那吾克热<span>2.2万人</span></p>
                    </h4>
                    <h4>
                        <img src="../public/images/j06.png" alt="">
                        <p>ICE<span>5859人</span></p>
                    </h4>
                    <h4>
                        <img src="../public/images/j07.png" alt="">
                        <p>艾热<span>6457人</span></p>
                    </h4>
                </a>
                <a href="#">
                    <img src="../public/images/j04.png" alt="">
                    <h4>
                        <img src="../public/images/j08.png" alt="">
                        <p>白敬亭<span>75.8万人</span></p>
                    </h4>
                    <h4>
                        <img src="../public/images/j09.png" alt="">
                        <p>谢霆锋<span>9.1万人</span></p>
                    </h4>
                    <h4>
                        <img src="../public/images/j10.png" alt="">
                        <p>周杰伦<span>17.1万人</span></p>
                    </h4>
                </a>
                <a href="#">
                    <img src="../public/images/j03.png" alt="">
                    <h4>
                        <img src="../public/images/j11.png" alt="">
                        <p>那吾克热<span>2.2万人</span></p>
                    </h4>
                    <h4>
                        <img src="../public/images/j12.png" alt="">
                        <p>ICE<span>5859人</span></p>
                    </h4>
                    <h4>
                        <img src="../public/images/j13.png" alt="">
                        <p>艾热<span>6457人</span></p>
                    </h4>
                </a>
                <a href="#">
                    <img src="../public/images/j04.png" alt="">
                    <h4>
                        <img src="../public/images/j08.png" alt="">
                        <p>白敬亭<span>75.8万人</span></p>
                    </h4>
                    <h4>
                        <img src="../public/images/j09.png" alt="">
                        <p>谢霆锋<span>9.1万人</span></p>
                    </h4>
                    <h4>
                        <img src="../public/images/j10.png" alt="">
                        <p>周杰伦<span>17.1万人</span></p>
                    </h4>
                </a>
                <a href="#">
                    <img src="../public/images/j03.png" alt="">
                    <h4>
                        <img src="../public/images/j11.png" alt="">
                        <p>那吾克热<span>2.2万人</span></p>
                    </h4>
                    <h4>
                        <img src="../public/images/j12.png" alt="">
                        <p>ICE<span>5859人</span></p>
                    </h4>
                    <h4>
                        <img src="../public/images/j13.png" alt="">
                        <p>艾热<span>6457人</span></p>
                    </h4>
                </a>
        
            
            </div> 
        </div> 
    </div>
    <div class="section_mid">
        <div class="mid_tit">
            <a href="#"><img src="../public/images/j14.png" alt="">为我推荐</a>
            <a href="#">全部圈子<i class="iconfont icon-arrow-right"></i></a>
        </div> 
        <div class="mid_vont">
            <div class="mid_msg">
                <img src="../public/images/j15.png" alt="">
                <a href="#"><h4>李佳龙<span class="sp01">翻牌预告</span></h4><p>活动时间：09月02日 19:00</p></a>
                <a href="#"><i class="iconfont icon-jiahao"></i>加入</a>
            </div>  
            <div class="mid_images">
                <img src="../public/images/j19.png" alt="">
                <img src="../public/images/j20.png" alt="">  
                <img src="../public/images/j21.png" alt="">  
                <img src="../public/images/j22.png" alt="">  
                <img src="../public/images/j24.png" alt="">      
            </div>  
        </div>
        <div class="mid_vont">
            <div class="mid_msg">
                <img src="../public/images/j16.png" alt="">
                <a href="#"><h4>电子竞技<span class="sp02">编辑精选</span></h4><p>电子游戏竞技比赛粉丝圈</p></a>
                <a href="#"><i class="iconfont icon-jiahao"></i>加入</a>
            </div>  
            <div class="mid_images">
                <img src="../public/images/j25.png" alt="">
                <img src="../public/images/j26.png" alt="">  
                <img src="../public/images/j27.png" alt="">  
                <img src="../public/images/j28.png" alt="">  
                <img src="../public/images/j29.png" alt="">      
            </div>  
        </div>
        <div class="mid_vont">
            <div class="mid_msg">
                <img src="../public/images/j18.png" alt="">
                <a href="#"><h4>新济公活佛<span class="sp03">热门推荐</span></h4><p>济公陈浩民遭遇情劫</p></a>
                <a href="#"><i class="iconfont icon-jiahao"></i>加入</a>
            </div>  
            <div class="mid_images">
                <img src="../public/images/j30.png" alt="">
                <img src="../public/images/j31.png" alt="">  
                <img src="../public/images/j32.png" alt="">  
                <img src="../public/images/j33.png" alt="">  
                <img src="../public/images/j34.png" alt="">      
            </div>  
        </div>
    </div>
</section>

<!-- 底部 -->
<footer>
    <a href="paopao-kandian.html" class="alis"><i class="iconfont icon-shuaxin"></i><p>看点</p><span></span></a>
    <a href="paopao-jinquan.html" class="alis focus"><i class="iconfont icon-yonghuzu"></i><p>进圈</p><span></span></a>
    <a href="#" class="alis"><i class="iconfont icon-jiahao"></i><p class="ptxt">发布</p><span></span></a>
    <a href="paopao-faxian.html" class="alis"><i class="iconfont icon-ziyuan"></i><p>发现</p><span></span></a>
    <a href="paopao-xiaoxi.html" class="alis"><i class="iconfont icon-xiaoxi1"></i><p>消息</p><span></span></a>
</footer>
</body>
</html>
<script src="../public/javascripts/jquery-1.11.0.min.js"></script>
<script>
// 底部
$(function(){
    $(".alis").click(function(){
        $(this).addClass("focus").siblings().removeClass("focus");
    });
});

</script>