<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>会员</title>
    <link rel="stylesheet" href="../public/stylesheets/iconfont.css">
    <link rel="stylesheet" href="../public/stylesheets/vip.css">
    <link rel="stylesheet" href="../public/stylesheets/public.css">
    <link rel="stylesheet" href="../public/stylesheets/swiper.css">
</head>
<body>
<!-- header -->
<header>
    <div class="header_top">
        <a class="active" href="#">VIP会员</a>
        <a href="#">体育会员</a>
        <a href="#">FUN会员</a>
        <i class="iconfont icon-sousuo"></i>
    </div>
    <div class="header_bot">
        <div class="lis_a">
            <a class="act" href="#">精选</a>
            <a href="#">会员俱乐部</a>  
            <a href="#">电影</a>  
            <a href="#">电视剧</a>  
            <a href="#">综艺</a>  
            <a href="#">动漫</a>  
            <a href="#">儿童</a>  
            <a href="#">演唱会</a>    
            <a href="#">纪录片</a>   
        </div>       
    </div>
</header>

<!-- section -->
<section>
    <!--轮播图-->
    <div class="swiper_con swiper-container">
        <div class="swiper-wrapper">
            <img class="swiper-slide" src="../public/images/v01.png" alt="">
            <img class="swiper-slide" src="../public/images/v02.png" alt="">
            <img class="swiper-slide" src="../public/images/v03.png" alt="">
            <img class="swiper-slide" src="../public/images/v04.png" alt="">
            <img class="swiper-slide" src="../public/images/v05.png" alt="">
        </div>
        <!-- Add Pagination -->
        <div class="swiper-pagination"></div>
    </div>

    <div class="nav_01">
        <a href="#"><img src="../public/images/v06.png" alt="">开通VIP看大片</a>
        <a href="#"><span>开通</span><i>|</i><span>奖励</span></a>
    </div>

    <!-- 电影榜 -->
    <div class="section_03">
        <div class="section_03_con">
            <h4>电影榜</h4>
            <p>壹周观影<i class="iconfont icon-arrow-right"></i></p>
        </div>
        <div class="watch_list imgd01">
            <div class="tv_lis">
                <img src="../public/images/v07.png" alt="">
                <h3>狄仁杰之神都帝王</h3>
                <p>徐克玩水下3D</p>
            </div>
            <div class="tv_lis">
                <img src="../public/images/v08.png" alt="">
                <h3>007幽灵党</h3>
                <p>传奇英雄背水一战</p>
            </div>
            <div class="tv_lis">
                <img src="../public/images/v09.png" alt="">
                <h3>天下第一镖局</h3>
                <p>樊少皇血战江湖</p>
            </div>
            <div class="tv_lis">
                <img src="../public/images/v07.png" alt="">
                <h3>狄仁杰之神都帝王</h3>
                <p>徐克玩水下3D</p>
            </div>
            <div class="tv_lis">
                <img src="../public/images/v08.png" alt="">
                <h3>007幽灵党</h3>
                <p>传奇英雄背水一战</p>
            </div>
            <div class="tv_lis">
                <img src="../public/images/v09.png" alt="">
                <h3>天下第一镖局</h3>
                <p>樊少皇血战江湖</p>
            </div>
        </div>
    </div>

    <!-- 电视剧榜 -->
    <div class="section_03">
        <div class="section_03_con">
            <h4>电视剧榜</h4>
            <p>热剧推荐<i class="iconfont icon-arrow-right"></i></p>
        </div>
        <div class="watch_list imgd01">
            <div class="tv_lis">
                <img src="../public/images/v11.png" alt="">
                <h3>延禧攻略</h3>
                <p>秦岚佘诗曼清宫宫斗大戏</p>
            </div>
            <div class="tv_lis">
                <img src="../public/images/v12.png" alt="">
                <h3>香蜜沉沉烬如霜</h3>
                <p>杨紫邓伦守望千年之恋</p>
            </div>
            <div class="tv_lis">
                <img src="../public/images/v13.png" alt="">
                <h3>再创世纪</h3>
                <p>金融漩涡 逆转而来</p>
            </div>
            <div class="tv_lis">
                <img src="../public/images/v14.png" alt="">
                <h3>老九门</h3>
                <p>热血收官九门同心</p>
            </div>
            <div class="tv_lis">
                <img src="../public/images/v15.png" alt="">
                <h3>朕的刺客女友</h3>
                <p>腹黑天子爱上女刺客</p>
            </div>
            <div class="tv_lis">
                <img src="../public/images/v16.png" alt="">
                <h3>小棉袄</h3>
                <p>单身酷爸斗萌娃</p>
            </div>
        </div>
        <a class="bga" href="#">查看完整榜单</a>
    </div>

    <!-- 即将上线 -->
    <div class="section_03">
        <div class="section_03_con">
            <h4>即将上线</h4>
            <p class="pimg">我的预约<i class="iconfont icon-arrow-right"></i></p>
        </div>
        <div class="section_smal">
            <div class="aa">
                <div class="spans">
                    <a class="a2"><i></i><span>09月03日</span><i></i></a>
                </div>
                <a href="#" class="section_sImg">
                    <img src="../public/images/a01.png" alt="">
                    <h4>等到烟暖雨收</h4>
                    <span><img src="../public/images/clock01.png" alt="">预约</span>
                </a>
            </div>
            <div class="aa">
                <div class="spans">
                    <a class="a2"><i></i><span>09月05日</span><i></i></a>
                </div>
                <a href="#" class="section_sImg">
                    <img src="../public/images/a02.png" alt="">
                    <h4>娘道</h4>
                    <span><img src="../public/images/clock01.png" alt="">预约</span>
                </a>
            </div>
            <div class="aa">
                <div class="spans">
                    <a class="a2"><i></i><span>敬请期待</span><i></i></a>
                </div>
                <a href="#" class="section_sImg">
                    <img src="../public/images/a03.png" alt="">
                    <h4>中国音乐公...</h4>
                    <span><img src="../public/images/clock01.png" alt="">预约</span>
                </a>
            </div>
            <div class="aa">
                <div class="spans">
                    <a class="a2"><i></i><span>敬请期待</span><i></i></a>
                </div>
                <a href="#" class="section_sImg">
                    <img src="../public/images/a04.png" alt="">
                    <h4>爸爸去哪儿6</h4>
                    <span><img src="../public/images/clock01.png" alt="">预约</span>
                </a>
            </div>
            <div class="aa">
                <div class="spans">
                    <a class="a2"><i></i><span>敬请期待</span><i></i></a>
                </div>
                <a href="#" class="section_sImg">
                    <img src="../public/images/a05.png" alt="">
                    <h4>奇葩说第5季</h4>
                    <span><img src="../public/images/clock01.png" alt="">预约</span>
                </a>
            </div>
            <div class="aa">
                <div class="spans">
                    <a class="a2"><i></i><span>敬请期待</span><i></i></a>
                </div>
                <a href="#" class="section_sImg">
                    <img src="../public/images/a06.png" alt="">
                    <h4>凉生，我们...</h4>
                    <span><img src="../public/images/clock01.png" alt="">预约</span>
                </a>
            </div>
        </div>
    </div>
    <a href="#" class="aimg"><img src="../public/images/v17.png" alt=""></a>

    <!-- 热门影人 -->
    <div class="section_04">
        <h4>热门影人</h4>
        <div class="section_04_con">
            <a class="on" href="#">
                <img src="../public/images/v19.png" alt="">
                <span>陈伟霆</span>
                <img src="../public/images/v18.png" alt="">
            </a>
            <a href="#">
                <img src="../public/images/v20.png" alt="">
                <span>谢娜</span>
                <img src="../public/images/v18.png" alt="">
            </a>
            <a href="#">
                <img src="../public/images/v21.png" alt="">
                <span>郭德纲</span>
                <img src="../public/images/v18.png" alt="">
            </a>
            <a href="#">
                <img src="../public/images/v22.png" alt="">
                <span>陈赫</span>
                <img src="../public/images/v18.png" alt="">
            </a>
            <a href="#">
                <img src="../public/images/v23.png" alt="">
                <span>王俊凯</span>
                <img src="../public/images/v18.png" alt="">
            </a>
            <a href="#">
                <img src="../public/images/v19.png" alt="">
                <span>陈伟霆</span>
                <img src="../public/images/v18.png" alt="">
            </a>
        </div>
        <div class="watch_list imgd01">
            <div class="tv_lis">
                <img src="../public/images/v24.png" alt="">
                <h3>老九门</h3>
                <p>秦岚佘诗曼清宫宫斗大戏</p>
            </div>
            <div class="tv_lis">
                <img src="../public/images/v25.png" alt="">
                <h3>爵迹</h3>
                <p>杨紫邓伦守望千年之恋</p>
            </div>
            <div class="tv_lis">
                <img src="../public/images/v26.png" alt="">
                <h3>南方有乔木</h3>
                <p>金融漩涡 逆转而来</p>
            </div>
            <div class="tv_lis">
                <img src="../public/images/v24.png" alt="">
                <h3>老九门</h3>
                <p>热血收官九门同心</p>
            </div>
            <div class="tv_lis">
                <img src="../public/images/v25.png" alt="">
                <h3>爵迹</h3>
                <p>腹黑天子爱上女刺客</p>
            </div>
            <div class="tv_lis">
                <img src="../public/images/v26.png" alt="">
                <h3>南方有乔木</h3>
                <p>单身酷爸斗萌娃</p>
            </div>
        </div>
    </div>

    <!-- 小编推荐 -->
    <div class="section_03">
        <div class="section_03_con">
            <h4>小编推荐</h4>
            <p>暑期经典一生追<i class="iconfont icon-arrow-right"></i></p>
        </div>
        <div class="watch_list imgd01">
            <div class="tv_lis">
                <img src="../public/images/v27.png" alt="">
                <h3>归去来</h3>
                <p>罗晋唐嫣诠释爱情</p>
            </div>
            <div class="tv_lis">
                <img src="../public/images/v28.png" alt="">
                <h3>博人传 火影忍者</h3>
                <p>传奇英雄背水一战</p>
            </div>
            <div class="tv_lis">
                <img src="../public/images/v29.png" alt="">
                <h3>1006的客房</h3>
                <p>樊少皇血战江湖</p>
            </div>
            <div class="tv_lis">
                <img src="../public/images/v27.png" alt="">
                <h3>归去来</h3>
                <p>罗晋唐嫣诠释爱情</p>
            </div>
            <div class="tv_lis">
                <img src="../public/images/v28.png" alt="">
                <h3>博人传 火影忍者</h3>
                <p>传奇英雄背水一战</p>
            </div>
            <div class="tv_lis">
                <img src="../public/images/v29.png" alt="">
                <h3>1006的客房</h3>
                <p>樊少皇血战江湖</p>
            </div>
        </div>
    </div>

    <!-- 精选专题 -->
    <div class="section_04">
        <h4>精选专题</h4>
        <div class="imgd">
            <div class="watch_list imgd02">
                <div class="tv_lis">
                    <img src="../public/images/v30.png" alt="">
                    <h3>《再创世纪》重温港剧</h3>
                </div>
                <div class="tv_lis">
                    <img src="../public/images/v31.png" alt="">
                    <h3>遇上青春遇见你</h3>
                </div>
                <div class="tv_lis">
                    <img src="../public/images/v32.png" alt="">
                    <h3>系列电影：精灵旅社</h3>
                </div>
                <div class="tv_lis">
                    <img src="../public/images/v33.png" alt="">
                    <h3>危险：史前巨鲨狂暴来袭</h3>
                </div>
                <div class="tv_lis">
                    <img src="../public/images/v34.png" alt="">
                    <h3>2018暑期档-有点儿意思</h3>
                </div>
                <div class="tv_lis">
                    <img src="../public/images/v35.png" alt="">
                    <h3>经典港片带你笑回童年</h3>
                </div>
            </div>
            <div class="watch_list imgd02">
                <div class="tv_lis">
                    <img src="../public/images/v30.png" alt="">
                    <h3>《再创世纪》重温港剧</h3>
                </div>
                <div class="tv_lis">
                    <img src="../public/images/v31.png" alt="">
                    <h3>遇上青春遇见你</h3>
                </div>
                <div class="tv_lis">
                    <img src="../public/images/v32.png" alt="">
                    <h3>系列电影：精灵旅社</h3>
                </div>
                <div class="tv_lis">
                    <img src="../public/images/v33.png" alt="">
                    <h3>危险：史前巨鲨狂暴来袭</h3>
                </div>
                <div class="tv_lis">
                    <img src="../public/images/v34.png" alt="">
                    <h3>2018暑期档-有点儿意思</h3>
                </div>
                <div class="tv_lis">
                    <img src="../public/images/v35.png" alt="">
                    <h3>经典港片带你笑回童年</h3>
                </div>
            </div>
        </div>
    </div>

    <!--VIP尊享豪华特权-->
    <div class="section_03">
        <div class="section_03_con">
            <h4>VIP尊享豪华特权</h4>
            <p>全部特权<i class="iconfont icon-arrow-right"></i></p>
        </div>
        <div class="imgd03">
            <img src="../public/images/vip01.png" alt="">
            <a href="#">立即成为会员</a>
        </div>
        <div class="imgd04">
            <ul>
                <a href="#"><img src="../public/images/vip02.png" alt="">跳广告</a>
                <a href="#"><img src="../public/images/vip03.png" alt="">1080P</a>
                <a href="#"><img src="../public/images/vip04.png" alt="">送点播券</a>
                <a href="#"><img src="../public/images/vip05.png" alt="">尊贵标识</a>
                <a href="#"><img src="../public/images/vip06.png" alt="">生日礼包</a>
                <a href="#"><img src="../public/images/vip07.png" alt="">查看全部</a>
            </ul>
        </div>
    </div>

    <!--VIP专属影院-->
    <div class="section_03">
        <div class="section_03_con">
            <h4>VIP专属影院</h4>
            <p>今日推荐2/20</p>
        </div>
        <div class="swiper_con swiper-container swiper_con_2">
            <div class="swiper-wrapper">
                <img class="swiper-slide" src="../public/images/v01.png" alt="">
                <img class="swiper-slide" src="../public/images/v02.png" alt="">
                <img class="swiper-slide" src="../public/images/v03.png" alt="">
                <img class="swiper-slide" src="../public/images/v04.png" alt="">
                <img class="swiper-slide" src="../public/images/v05.png" alt="">
            </div>
            <!-- Add Pagination -->
            <div class="swiper-pagination"></div>
        </div>
    </div>

    <!--电影魔方-->
    <div class="section_03">
        <div class="section_03_con">
            <h4>电影魔方</h4>
            <p>电影片库<i class="iconfont icon-arrow-right"></i></p>
        </div>
        <div class="mov">
            <a href="#"><p>儿童</p><span>500+部电影</span></a>
            <a href="#"><p>僵尸</p><span>164部电影</span></a>
            <a href="#"><p>卧底</p><span>265部电影</span></a>
            <a href="#"><p>奋斗</p><span>500+部电影</span></a>
            <a href="#"><p>婚姻</p><span>500+部电影</span></a>
            <a href="#"><p>医学</p><span>5282部电影</span></a>
            <a href="#"><p>爆米花</p><span>500+部电影</span></a>
            <a href="#"><p>枪战</p><span>500+部电影</span></a>
            <a href="#"><p>换一换</p></a>
        </div>
    </div>
</section>

<!--底部-->
<footer>
    <a href="index.html" class="alis"><i class="iconfont icon-yduixingxingkongxin"></i><p>首页</p><span></span></a>
    <a href="redian.html" class="alis"><i class="iconfont icon-redian"></i><p>热点</p><span></span></a>
    <a href="vip.html" class="alis focus"><i class="iconfont icon-viphuiyuanhuangguan_fuzhi"></i><p>会员</p><span></span></a>
    <a href="my.html" class="alis"><i class="iconfont icon-mine"></i><p>我的</p><span></span></a>
    <a href="paopao-kandian.html" class="alis"><i class="iconfont icon-xiaoxi"></i><p>泡泡</p><span></span></a>
</footer>
</body>
</html>
<script src="../public/javascripts/jquery-1.11.0.min.js"></script>
<script src="../public/javascripts/swiper.min.js"></script>
<script>
// 顶部
$(function(){
    $(".header_top a").click(function(){
        $(this).addClass("active").siblings().removeClass("active");
    });
});
$(function(){
    $(".lis_a a").click(function(){
        $(this).addClass("act").siblings().removeClass("act");
    });
});

// 轮播图
var swiper = new Swiper('.swiper-container', {
    spaceBetween: 30,
    centeredSlides: true,
    autoplay: {
        delay: 2500,
        disableOnInteraction: false,
    },
    pagination: {
        el: '.swiper-pagination',
        clickable: true,
    }
});

// 热门影人
$(function(){
    $(".section_04_con a").click(function(){
        let aindex=$(".section_04_con a").index(this);
        $(this).addClass("on").siblings().removeClass("on");
    })
});

// 底部
$(function(){
    $(".alis").click(function(){
        $(this).addClass("focus").siblings().removeClass("focus");
    });
});


</script>
